# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_MEASUREMENT_ID=

# Supabase Configuration
VITE_SUPABASE_URL=https://apgoxuogcgyibygfnlkq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFwZ294dW9nY2d5aWJ5Z2ZubGtxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM2NzI0MDcsImV4cCI6MjA4OTI0ODQwN30.JkjvM1pXtHI0-x6coGHjEmLi_u11LROPTurYYF3pOfE
VITE_SUPABASE_BUCKET=Uploads
